.login {
   height: auto;
   margin-top: 100px;
   border-radius: 0px !important;
   padding: 20px;
}
.control {
    font-size: 14px;
    font-weight: 200;
    display: flex;
}
#forgot-password {
    float: right;
    margin-left: 300px;
}
.loginbutton {
    float: right;
}